# 表示该文件目录为根目录，lombok将从该目录下开始搜索。
config.stopBubbling = true
# 强制Jackson反序列化时选择无参构造器
lombok.anyConstructor.suppressConstructorProperties = true
# lombok将生成对hashCode的超类实现的调用。如果设置为skip，则不会生成这样的调用。默认行为warn类似于skip，并带有附加警告
lombok.equalsAndHashCode.callSuper = CALL
# 生成的setter将返回this(而不是void)，通过这个配置我们可以像jquery一样愉快的链式编程了
lombok.accessors.chain=true
